 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
 /* common-classes  */
*{
    font-family: 'Work Sans', sans-serif;
    box-sizing: content-box;
}
.text-primary-one{
    color: #F948B2;
}
.text-primary-two{
    color:#8758F1;
}

.section-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
.btn-primary-one{
    width: 120px;
    height: 50px;
    color: #FFF;
    background-color: #F948B2;
    align-items: center;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    
}
.btn-primary-two{
    width: 140px;
    height: 50px;
    color: #ffffff;
    background-color: #2197ce;
    align-items: center;
    font-size: 16px;
    border: none;
    border-radius: 30px;

}
/* nav-section  */
.nav-container{
    min-height: 150px;
    width: auto;
    display: flex;
    justify-content: space-around;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    align-items: center;
}
.nav-title{
        display: flex;
        font-size: 30px;
        font-weight: 700;
        gap: 15px;
        align-items: center;
}
.nav-title img{
    width: 75px;
    height: 35px;
}
.nav-options{
    display: flex;
    color: #3C354F; 
    gap: 18px;
    align-items: center;
} 
.nav-options a{
    text-decoration: none;
    color: #3C354F; 
    font-size: 18px;
    font-weight: 700;
}
.nav-button{
    width: 200px;
    height: 50px;
    display: flex;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
}
 /* main-section  */
 /* section-one  */
.section-one{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 0px;
}
.section-one-container{
    align-items: center;
    background: url("../images/Group\ 14.png") ;
    padding: 130px 250px 130px 250px ;
}
    
.section-one-title{
    color: #0B0223;
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: -70px;
}
.section-one-bold{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
}
.section-one-image{
    max-width: auto;
    max-height: auto;
    margin-right: 150px;
     
}
/* section-two  */
.section-two{
    text-align: center;
    padding: 30px ;
}
.section-two-title{
    color: #0B0223;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
}
.section-two-container{
  display: flex;
  justify-content: space-evenly ;
}

/* section-three  */
.section-three{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 300px;
    padding: 30px
}
.section-three-title{
    position: relative;
    margin-bottom: -10px;
}
.section-description{
    align-items: center;
}
.section-three-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    
}
.image-container-three{
   flex-wrap: wrap;
}
.image-one{
    margin-top: 150px;
}
.image-two{
   margin-top: -260px ;
   margin-left: -150px;
}
/* section-four  */
.section-four{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
       padding: 120px;
       margin-bottom: 100px;    
}
.btn-games:hover{
        color: #F948B2;
        border: 3px solid #F948B2 ;

}
.btn-games{
    display: flex;
    width: 270px ;
    height:80px;
    align-items: center;
    text-align: center;
    gap: 5px;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    background: #f1eeee;
    border: none;
    margin-bottom: 50px;
}
/* footer-section */
.footer-title{
    text-align: center;
     display: flex;
   /* flex-direction: column; */
    font-size: 30px;
    font-weight: 700;
    gap: 15px;
    align-items: center;
    color: #FFF;
    width: 20%;
    margin: 0 auto;
}
/* .footer-title{
    display: flex;
    font-size: 30px;
    font-weight: 700;
    gap: 15px;
    align-items: center;
    color: #FFF;
} */
.footer-section{
    background-color: #0B0223;
       text-align: center;
       height: 400px;
        /* position: relative; */
    }
    

.footer-info{
    align-items: center;
    text-align: center;
    display: inline-flex;
    padding: 10px;
    gap: 60px;
    color:#FFF;
}
.footer-image img{
   margin-left: 20px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 10px;

}
.footer-end{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}